@model Immo.MVC5.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details of Product Id: @Model.Id</h2>

<ul>
    <li><b>Product Name :</b>@Model.ProductName</li>
    <li><b>Price :</b>@Model.Price</li>
    <li><b>Quantity :</b>@Model.Quantity</li>
</ul>