@model  IEnumerable<Immo.MVC5.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>List of Products</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ProductName</td>
                <td>
                    
                    @Html.ActionLink("Details", "Details", "Products", new { id = product.Id }, new {@class="btn btn-link"})
                </td>
            </tr>
        }
    </tbody>
</table>

